/* Color Theme Swatches in Hex */
$primaryColor: #8C1F28;
$secondaryColor: #591C21;
$opositeColor: #044040;
$saturatedColor: #D92525;
$ligthColor: #F2F2F2;

$gray: rgb(59, 59, 59);
$googleColor:rgb(24, 179, 240);

//Transparent
$opositeColorTransparent: #04404081;
$primaryColorTransparent: #8c1f2881;


